.md-typeset .grid {
    grid-gap:.4rem;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(16rem,1fr));
    margin:1em 0;
   }
   .md-typeset .grid.cards>:-webkit-any(ul,
   ol) {
    display:contents
   }
   .md-typeset .grid.cards>:-moz-any(ul,
   ol) {
    display:contents;
   }
   .md-typeset .grid.cards>:is(ul,
   ol) {
    display:contents;
   }
   .md-typeset .grid.cards>:-webkit-any(ul,
   ol)>li,
   .md-typeset .grid>.card {
    border:.05rem solid var(--md-default-fg-color--lightest);
    border-radius:.1rem;
    display:block;
    margin:0;
    padding:.8rem;
    -webkit-transition:border .25s,box-shadow .25s;
    transition:border .25s,box-shadow .25s
   }
   .md-typeset .grid.cards>:-moz-any(ul,
   ol)>li,
   .md-typeset .grid>.card {
    border:.05rem solid var(--md-default-fg-color--lightest);
    border-radius:.1rem;
    display:block;
    margin:0;
    padding:.8rem;
    -moz-transition:border .25s,box-shadow .25s;
    transition:border .25s,box-shadow .25s
   }
   .md-typeset .grid.cards>:is(ul,
   ol)>li,
   .md-typeset .grid>.card {
    border:.05rem solid var(--md-default-fg-color--lightest);
    border-radius:.1rem;
    display:block;
    margin:0;
    padding:.8rem;
    transition:border .25s,box-shadow .25s
   }
   .md-typeset .
   .cards>:-webkit-any(ul,
   ol)>li:-webkit-any(:focus-within,
   :hover),
   .md-typeset .grid>.card:-webkit-any(:focus-within,
   :hover) {
    border-color:transparent;
    box-shadow:var(--md-shadow-z2)
   }
   .md-typeset .grid.cards>:-moz-any(ul,
   ol)>li:-moz-any(:focus-within,
   :hover),
   .md-typeset .grid>.card:-moz-any(:focus-within,
   :hover) {
    border-color:transparent;
    box-shadow:var(--md-shadow-z2)
   }
   .md-typeset .grid.cards>:is(ul,
   ol)>li:is(:focus-within,
   :hover),
   .md-typeset .grid>.card:is(:focus-within,
   :hover) {
    border-color:transparent;
    box-shadow:var(--md-shadow-z2)
   }
   .md-typeset .grid.cards>:-webkit-any(ul,
   ol)>li>hr,
   .md-typeset .grid>.card>hr {
    margin-bottom:1em;
    margin-top:1em
   }
   .md-typeset .grid.cards>:-moz-any(ul,
   ol)>li>hr,
   .md-typeset .grid>.card>hr {
    margin-bottom:1em;
    margin-top:1em
   }
   .md-typeset .grid.cards>:is(ul,
   ol)>li>hr,
   .md-typeset .grid>.card>hr {
    margin-bottom:1em;
    margin-top:1em
   }
   .md-typeset .grid.cards>:-webkit-any(ul,
   ol)>li>:first-child,
   .md-typeset .grid>.card>:first-child {
    margin-top:0
   }
   .md-typeset .grid.cards>:-moz-any(ul,
   ol)>li>:first-child,
   .md-typeset .grid>.card>:first-child {
    margin-top:0
   }
   .md-typeset .grid.cards>:is(ul,
   ol)>li>:first-child,
   .md-typeset .grid>.card>:first-child {
    margin-top:0
   }
   .md-typeset .grid.cards>:-webkit-any(ul,
   ol)>li>:last-child,
   .md-typeset .grid>.card>:last-child {
    margin-bottom:0
   }
   .md-typeset .grid.cards>:-moz-any(ul,
   ol)>li>:last-child,
   .md-typeset .grid>.card>:last-child {
    margin-bottom:0
   }
   .md-typeset .grid.cards>:is(ul,
   ol)>li>:last-child,
   .md-typeset .grid>.card>:last-child {
    margin-bottom:0
   }
   .md-typeset .grid>* {
    margin-bottom:0;
    margin-top:0
   }
   .md-typeset .grid>:-webkit-any(.admonition,
   details) {
    margin-bottom:0;
    margin-top:0
   }
   .md-typeset .grid>:-moz-any(.admonition,
   details) {
    margin-bottom:0;
    margin-top:0
   }
   .md-typeset .grid>:is(.admonition,
   details) {
    margin-bottom:0;
    margin-top:0
   }
   .md-typeset .grid>.highlight>*,
   .md-typeset .grid>.highlighttable,
   .md-typeset .grid>pre {
    margin-bottom:0;
    margin-top:0
   }
   .md-typeset .grid>.highlight>pre:only-child,
   .md-typeset .grid>.highlight>pre>code,
   .md-typeset .grid>.highlighttable,
   .md-typeset .grid>.highlighttable>tbody,
   .md-typeset .grid>.highlighttable>tbody>tr,
   .md-typeset .grid>.highlighttable>tbody>tr>.code,
   .md-typeset .grid>.highlighttable>tbody>tr>.code>.highlight,
   .md-typeset .grid>.highlighttable>tbody>tr>.code>.highlight>pre,
   .md-typeset .grid>.highlighttable>tbody>tr>.code>.highlight>pre>code {
    height:100%
   }
   .md-typeset .grid>.tabbed-set {
    margin-bottom:0;
    margin-top:0
   }

:root {
    --md-admonition-icon--intuition: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 6a6 6 0 0 1 6 6c0 2.22-1.21 4.16-3 5.2V19a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-1.8c-1.79-1.04-3-2.98-3-5.2a6 6 0 0 1 6-6m2 15v1a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-1h4m6-10h3v2h-3v-2M1 11h3v2H1v-2M13 1v3h-2V1h2M4.92 3.5l2.13 2.14-1.42 1.41L3.5 4.93 4.92 3.5m12.03 2.13 2.12-2.13 1.43 1.43-2.13 2.12-1.42-1.42Z"/></svg>')
}
.md-typeset .admonition.intuition,
.md-typeset details.intuition {
    border-color: rgb(255, 255, 0);
}
.md-typeset .intuition > .admonition-title,
.md-typeset .intuition > summary {
    background-color: rgba(255, 255, 0, 0.1);
}
.md-typeset .intuition > .admonition-title::before,
.md-typeset .intuition > summary::before {
    background-color: rgb(255, 255, 0);
    -webkit-mask-image: var(--md-admonition-icon--intuition);
    mask-image: var(--md-admonition-icon--intuition);
}